Package: com.ioscreatix.sugarcane
Name: SugarCane
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Get percentages for the sliders in the Control Center on iOS 11
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
